<p style="color: green"><%= notice %></p>


<div class="container">
  <div class="d-flex justify-content-center p-2">
    <h1><%= @recipe.name %></h1>
  </div>

  <div class="d-flex justify-content-between p-2">
    <h4>Preparation time: <%= @recipe.preparation_time %> hours</h4>
    <h4><%= @recipe.public %></h4>
  </div>

  <div class="d-flex justify-content-between p-2">
    <h4>Cooking time<%= @recipe.cooking_time %> hours</h4>
  </div>

  <div class="d-flex justify-content-between p-2">
    <h4>Steps go here...</h4>
  </div>


  <div class="d-flex justify-content-between p-2">
    <span><%= link_to 'Generate Shopping List', new_recipe_path, class:"btn btn-secondary btn-lg" %></span>
    <span><%= link_to 'Add Ingredient', new_recipe_path, class:"btn btn-secondary btn-lg" %></span>
  </div>
  

</div>


<hr>

<% if @recipe.recipe_foods.count < 1 %>
<p> The ingredient list is empty. </p>
<% else %>
<table class="table">
  <tr class="table-title">
    <th>Food</th>
    <th>Quantity</th>
    <th>Price</th>
    <% if can? :modify, @recipe %>
      <th>Actions</th>
    <% end %>
  </tr>
    <% @ingredients.includes(:food).each do |ingredient| %>
      <tr>
        <td> <%= ingredient.food.name %></td>
        <td> <%= ingredient.quantity %> </td>
        <td> <%= ingredient.total_price %> </td>
        <% if can? :modify, @recipe %>
          <td> <%= button_to 'Delete', user_recipe_recipe_food_path(current_user, @recipe, ingredient), method: :delete, class: 'login-button remove' %> </td>
        <% end %>
      </tr>
    <% end %>
</table>
<% end %>





