<div id="<%= dom_id food %>">
  

  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Measurement unit</th>
          <th>Price</th>
          <th>Quantinty</th>
          <
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= food.quantinty %></td>
          <td> <%= link_to "Show", food %></td>
        </tr>
      </tbody>
    </table>
</div>
