<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between p-2">
<h2>FOOD LIST</h2>
<% if user_signed_in? %>
  <%= link_to 'Add New Food', new_food_path, class:"btn btn-success btn-lg" %>
<% end %>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Measurement unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    <tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %> </td>
      <td><%= food.price %> </td>
      <td><%= food.quantity %> </td>
      <td><%= button_to "Delete", food, method: :delete, class:"btn btn-danger" %> </td>
    <tr>
    <% end %>
  </tbody>

</table>


